@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a202c;
  color: #48bb78;
  font-family: "VT323", monospace;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cursor::after {
  content: "|";
  display: inline-block;
  animation: blink 1s step-end infinite;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2d3748;
}

::-webkit-scrollbar-thumb {
  background: #48bb78;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #38a169;
}

